doctype html
html
    head
        link(rel="stylesheet", href="css/main.css")
        title   Hello World
    body
        h1  We used jad to generate this
        p It works! :)
        section
            h1  Im good mother fuck
            p oh good its cool
        script(src="js/bundle.js")